<div class="author">
    <h1 class="author_heading"> Olá, Eu sou o João Vitor.</h1>
    <p class="author_body">Estudante de Analise e Desenvolvimento de Sistemas.</p>
</div>
<img src="/img/wunsplash.jpg" alt="Mesa de trabalho" class="hero-image" width="980" height="525">

<section class="articles">
    <h2 class="articles_heading"> Últimas Publicações !</h2>

    <ul class="articles-ul">
        <li>
            <a href="#">
                <span> Titulo </span>
                <span class="articles-list_date">Data</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; Visualizar Publicações Antigas </a>

</section>